<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center">
  <h1>
    {{ title }}!
  </h1>  
</div>
  
<div>  
  <ul>
<!--     
    quizzes = [
      {
        order: 1,
        name: 'Quiz 1',
        showDelete: false
      },         
      {
        order: 2,
        name: 'Quiz 2',
        showDelete: false
      },        
      {
        order: 3,
        name: 'Quiz 3',
        showDelete: false
      },        
    ];
-->
  <!-- data-order="{{ quiz.order }} -->
    <li *ngFor="let quiz of quizzes">
      <div class="inline">
        {{quiz.name}}
      </div>
      <div class="inline">        
        <button *ngIf="quiz.showDelete" (click)="deleteQuiz(quiz)">Delete</button>
      </div>
    </li>
    
    <button (click)="addFunnyQuiz()">Add Funny Quiz</button>
    
    YRDY
    <div>
      <label for="quiz-name">Quiz Name</label>
      <input [(ngModel)]="newQuizName" type="text" name="quiz-name" />
      <button (click)="addNewQuiz()">Add</button>
    </div>
  </ul>
  
  <div *ngFor="let ip of calc.inputs" id="test">   
    <label type="text">{{ ip.label }}</label>
    <input type="ip" [(ngModel)]="ip.value">
  </div>
  <div>Sum: {{ calc.sum }}</div>
  <div>Subtraction: {{ calc.sub }}</div>
  <div>Multiplication: {{ calc.mul }}</div>
  <div>Division: {{ calc.div }}</div>
  <button (click)="performAllCalculations()">Calculate</button>
  
</div>

